*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    width: 100%;
    background-color: #FFFFFF;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player {
    margin: 0;
    /* margin: 0 auto; */
    width: 1000px;
    position: relative;
    z-index: 10;
    
}

.timebar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    
}

.controls {
    position: absolute;
    
    bottom: 0;
    top: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* flex-flow: row wrap; */

    justify-content: end;

    width: 1000px;
    /* align-items: end; */

    
    animation: animate_control_unuse 1s forwards;

}
.controls:hover {
    animation: animate_control_use 1s forwards;

}

.buttons {
    position: absolute;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: -20px;
    z-index: 1;
}

button {
    /* opacity: 1; */
    width: 100px;
    height: 30px;
}


progress {
    
    /* стили */
    width: 100%;
    height: 15px;
    margin-bottom: 8px;
    border-radius: 15px;
}

progress::-webkit-progress-bar {
    
    /* стили  */
    /* width: 75%; */
    height: 5px;
    margin-bottom: 8px;
    border-radius: 15px;
    color: blueviolet;
    
}
    
progress::-webkit-progress-value {
    
    /* стили */
    /* width: 75%; */
    height: 15px;
    margin-bottom: 8px;
    border-radius: 15px;
    background-color: blueviolet;
    
}

progress::-webkit-progress-bar:hover {
    position: absolute;
    top: -5px;
    height: 10px;
    
}
    
progress::-moz-progress-bar {

    /* стили */
    border-radius: 15px;

}
    
.block{
    margin-top: -4px;
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    position: relative; 
    z-index: 100;
}

.play_pause {
    position: relative;
    z-index: 10;
    background-color: rgb(218, 28, 28);
    width: 10%;
}

.right{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.left {
    width: 50%;
}

:root {
    --pl: 30px;
    --pa: 0px;
}

#play{
    position: absolute;
    top: 5px;
    height: var(--pl);
}

#pause {
    position: absolute;
    top: 5px;
    left: -3px;
    height: var(--pa);
}

.volume {
    transform: translateX(70px);
}

#volumeRange {
    width: 30%;
    margin: 0;
    padding: 0;
}

#volume{
    transform: translateY(6px);
}

#setting{
    height: 40px;
    fill: #FFFFFF;
}

.subt {
    width: 40px;
    height: 50px;
}

#exclude{
    height: 50px;
}

.sett{
    width: 40px;
}

#setting{
    height: 50px;
}

.fullscreen{
    width: 50px;
}

#fullScreen{
    fill: #FFFFFF;
    height: 45px;
}

@keyframes animate_control_unuse {
	0% {
        transform: translateY(-20px);
	}
	100% {
        transform: translateY(40px);
	}
}

@keyframes animate_control_use {
	0% {
        transform: translateY(40px);
	}
	100% {
        transform: translateY(-20px);
	}
}


.grayscale {
    filter: grayscale(1%);
    filter: hue-rotate(90deg);
}

.video {
    /* transition: filter 10s ease-out; */
}

.contrast {
    filter: brightness(70%) blur(5px); 
}
